html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    margin: 20px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 22px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding-bottom: 50px;
}

@media screen and (min-width: 700px) {
    body {
        background-color: rgb(168, 195, 245);
        font-size: 26px;
        margin: 15px;
    }
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    figure {
        float: left;
        width: 40%;
        margin: 5%;
    }

    img {
        max-width: 100%;
    }
}