html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      margin: 5%;
  }

  ul {
    list-style-type: none;
  }

  nav {
      display: none;
  }

  header p {
      font-size: 2.8vh;
      font-weight: bold;
  }

  h1 {
      font-size: 1.2em;
      margin-top: 30px;
      margin-bottom: 20px;
  }

  h2 {
      font-size: 1.2em;
  }

  p {
      font-size: 2.2vh;
  }

  @media screen and (min-width: 700px) {
    body {
        margin: 3%;
        margin-top: 15px;
    }  
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
          display: contents;
      }
      
    header ul {
        display: flex;
    }

    header ul li {
        margin-right: 20px;
    }

    .book-author {
        display: flex;
        justify-content: space-around;
    }
  }