
div:hover {
    border: 5px solid black;
    background-color: white;
}

div:nth-child(1n) {
    background-color: red;
    font-style: italic;
}

div:nth-child(1n+7) {
    background-color: aqua;
}

div:nth-child(2n+6) {
    background-color: brown;
}

div:nth-child(3n+2) {
    background-color: green;
    padding: 1%;
}

div:nth-child(4n+4) {
    background-color: orange;
}
