.super-mario {
    width: 150px;
    position: absolute;
    left: 130px;
}

.goomba {
    width: 130px;
    position: absolute;
    top: 370px;
    left: 130px;
}

.bowser {
    width: 230px;
    right: 800px;
    position: absolute;
    top: 255px;
}

.baloon {
    width: 140px;
    position: absolute;
    top: 260px;
    left: 650px;
}