p, h1 {
    text-align: center;
}

li:hover {
    background-color: rgb(168, 148, 187);
}

li:active {
    color: rgb(255, 0, 0);
}

ul, ol {
    list-style: none;
}

a:link {
    text-decoration: none;
    color: inherit;
}